---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h2> {{page.subtitle}}</h3>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  
 
  <div class="post-content" itemprop="articleBody">
     <div class="ad">
    <!-- codethoughts -->
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6894395824483692"
     data-ad-slot="6248237687"
     data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

  </div>
    
    {{ content }}
  </div>

</article>
